.calendarContainer {
  display: flex;
  justify-content: center;
  width: 95vw;
  height: 100vh; /* Ensure it centers vertically */
  margin: 0 auto; /* This will ensure the container is centered if there's extra space */
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for the days */
  font-weight: bold;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px 0px 20px 0px;
  width: 100%;  /* Ensure header and body take full width of calendar */
}

.body {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for the days */
  width: 100%;  /* Ensure header and body take full width of calendar */
}

.row {
  display: contents; /* Keeps the grid rows with columns */
}

.cell {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
  min-height: 50vh;
  background-color: #fafafa;
}

.cell:hover {
  background-color: #e0e0e0;
}

.weekHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;
  gap: 5px;
}

.arrowButton {
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.currentWeek {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  display: flex;
  gap: 5
}

.todayButton{
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 5px;
}

.containerResponsive{
  display: none;
}

/* Styling for responsive layout when screen width is less than 1200px */
@media (max-width: 1200px) {
  .header, .body {
    display: none;
  }

  .headerResponsive {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 7 columns for the days */
    font-weight: bold;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px 0px 20px 0px;
    width: 100%;  /* Ensure header and body take full width of calendar */
  }
  
  .bodyResponsive {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1, 1fr); /* 7 columns for the days */
    width: 100%;  /* Ensure header and body take full width of calendar */
  }

  /* Remove min-height in "mobile" mode */
  .cell {
    min-height: 0vh;
  }

  .containerResponsive{
    display: block;
  }
  
}