.calendarContainer {
  display: flex;
  justify-content: center;
  width: 91vw;
  height: 100vh; /* Ensure it centers vertically */
  margin: 0 auto; /* This will ensure the container is centered if there's extra space */
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(7, 13vw); /* 7 columns for the days */
  font-weight: bold;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px 0px 20px 0px;
}

.body {
  display: grid;
  grid-template-columns: repeat(7, 13vw); /* 7 columns for the days */
}

.row {
  display: contents; /* Keeps the grid rows with columns */
}

.cell {
  padding: 30px;
  border: 1px solid #ddd;
  text-align: center;
  min-height: 50vh;
  background-color: #fafafa;
}

.cell:hover {
  background-color: #e0e0e0;
}