.container{
    background-color: #769FCD;
    padding-left: 30px;
    height: 7vh;
    display: flex;
    align-items: center;
}

.title{
    font-size: 3vh;
    color: white;
}

.tabs{
    font-size: 2vh;
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.currentTab{
    color: white;
    border-bottom: 2px solid #0a4b95;
}

.remainingTabs{
    color: white;
}
.remainingTabs:hover{
    color: lightgrey;
}
